@import url("../vendor/normalize.css");
@import url("../blocks/header/header.css");
@import url("../blocks/header/__title/header__title.css");
@import url("../blocks/header/__subtitle/header__subtitle.css");
@import url("../blocks/header/__main-illustration/header____main-illustration.css");
@import url("../blocks/logo/logo.css");
@import url("../blocks/logo/_place/logo_place_header.css");
@import url("../blocks/logo/_place/logo_place_footer.css");
@import url("../blocks/description/description.css");
@import url("../blocks/two-columns/two-columns.css");
@import url("../blocks/two-columns/__brief/two-columns__brief.css");
@import url("../blocks/two-columns/__main-text/two-columns__main-text.css");
@import url("../blocks/two-columns/__main-text/__paragraph/two-columns__paragraph.css");
@import url("../blocks/two-columns/");
@import url("../blocks/digits/digits.css");
@import url("../blocks/table/table.css");
@import url("../blocks/table/__cell/table__cell.css");
@import url("../blocks/table/__cell/__heading/table__heading.css");
@import url("../blocks/table/__cell/__text/table__text.css");
@import url("../blocks/table/__cell/_theme/table__cell_theme_dark.css");
@import url("../blocks/feynman/feynman.css");
@import url("../blocks/feynman/__title/feynman__title.css");
@import url("../blocks/feynman/__subtitle/feynman__subtitle.css");
@import url("../blocks/feynman/__link/feynman__link.css");
@import url("../blocks/kaufman/kaufman.css");
@import url("../blocks/kaufman/__triangle/kaufman__triangle.css");
@import url("../blocks/rotation/rotation.css");
@import url("../blocks/section-title/section-title.css");
@import url("../blocks/section-title/_theme/section-title_theme.css");
@import url("../blocks/section-subtitle/section-subtitle.css");
@import url("../blocks/section-subtitle/_theme/section-subtitle_theme.css");
@import url("../blocks/techniques/techniques.css");
@import url("../blocks/techniques/__cards/techniques__cards.css");
@import url("../blocks/techniques/__cards/__title/techniques__cards-title.css");
@import url("../blocks/techniques/__cards/__description/techniques__cards-description.css");
@import url("../blocks/techniques/__cards/__image/techniques__cards-image.css");
@import url("../blocks/video/video__iframes.css");
@import url("../blocks/oakley/oakley.css");
@import url("../blocks/khan/__author/khan__author.css");
@import url("../blocks/khan/__title/khan__title.css");
@import url("../blocks/khan/__quote/khan__quote.css");
@import url("../blocks/khan/__book-container/khan__book-container.css");
@import url("../blocks/resources/resources.css");
@import url("../blocks/footer/footer.css");
@import url("../blocks/footer/__author/footer__author.css");
@import url("../blocks/footer/__columns/footer__columns.css");
@import url("../blocks/footer/__columns/_content/footer__columns_content.css");

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.block_width {
  width: 80%;
  margin: 0 auto;
}

.font_weight_bold {
  font-weight: 600;
}

.font_weight_normal {
  font-weight: normal;
}

.font_size_medium {
  font-size: 24px;
}

.line_height_small {
  line-height: 1.15;
}

.background_color_grey {
  background-color: #f2f2f2;
}

a {
  text-decoration: 0;
}

a:hover {
  opacity: 0.65;
}

ul {
  list-style-type: none;
  padding-left: 0;
}
